*{
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top_section{
  display: flex;
  padding: 35px;
  text-align: center;
}
#top_section img{
  width: 100%;
}

#small_icon{
  padding: 25px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  color: gray;
}
#small_icon h1{
  padding: 15px;
  text-align: center;

}
#grow_text{
 padding: 60px;
 text-align: center;
}
#social_media{
  width: 60%;
  margin: auto;
  padding: 50px;
  line-height: 30px;
}


/* media query--------------------- */
@media all and (min-width: 200px) and (max-width: 792px) {
  #top_section{
    flex-direction: column;
    
  }
  #small_icon{
    grid-template-columns: repeat(3,1fr);

  }
}

@media all and (min-width: 300px) and (max-width: 600px) {
  #small_icon{
    grid-template-columns: repeat(2,1fr);
    padding: 0px;
    /* width: 80%; */
  }
  #small_icon h1{
    padding: 5px;
  
  }
  #grow_text{
    padding: 40px 0px;
  }
  #social_media{
    width: 80%;
    padding: 40px 0px;

  }

}