* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 40px;
}
#logo {
  height: 100px;
  width: 100px;
}
#dropdown {
  display: flex;
  gap: 15px;
}
#dropdown > h1:hover {
  color: blue;
}
.blogs > a {
  text-decoration: none;
  color: black;
}
.blogs > a:hover {
  color: blue;
}
.blogs {
  height: 25px;
  padding: 3px;
}
#dropdown_tools {
  position: relative;
  height: 25px;
  /* border: 1px solid blue; */
  border-radius: 5px;
  padding: 3px;
}
#dropdown_menu {
  display: none;
  padding: 15px;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  /* height: 150px; */
  width: 100px;
  position: absolute;
  margin: auto;
  background-color: #f5f5f5;
}
#dropdown_menu a {
  padding: 5px;
  color: black;
  display: flex;
  text-decoration: none;
  flex-direction: row;
}
#dropdown_menu a:hover {
  color: blue;
}
#dropdown_tools:hover #dropdown_menu {
  display: block;
}
.login_signup {
  display: flex;
  gap: 10px;
}
.toppadding {
  padding-top: 38px;
}
.login_signup a {
  font-weight: bold;
  text-decoration: none;
  font-size: larger;
  height: 25px;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px 20px;
  border: 1px solid blue;
}
.login_signup a:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#signup {
  background-color: blue;
  color: white;
}

@media all and (min-width: 200px) and (max-width: 792px) {
  #dropdown {
    display: none;
  }
  nav {
    padding-left: 5px;
  }
  #login {
    display: none;
  }
}

footer {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}
#footer-1 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fontawesome > i {
  padding: 10px;
  font-size: 20px;
}
#instagram {
  padding-left: 0px;
}
#footer-2 {
  display: flex;
}
#footer-2 > div {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
#footer-2 a {
  text-decoration: none;
  color: black;
  margin-top: 15px;
}
#footer-2 a:hover {
  color: blue;
}
.store {
  display: flex;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 8px 40px;
  color: blue;
  text-align: center;
  margin: 10px 0px;
}
#apple {
  font-size: 22px;
}
.store i {
  font-size: 20px;
  margin-right: 10px;
}
@media all and (min-width: 200px) and (max-width: 792px) {
  footer {
    flex-direction: column;
  }
  #footer-2 {
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    text-align: center;
  }
  #footer-2 > div {
    margin: 15px;
  }
  #footer-1 {
    height: 31vh;
  }
}
